* {
    margin: 0;
    padding: 0;
    }

body {
    height: 100vh;
    width: 100vw;
}

.app {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:  1fr 0.25fr 4fr;
    height: 100vh;
}

.app div {
    border: 1px solid black;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DAD7CD;
    grid-column-start: 1;
    grid-column-end: 13;
}

.sort {
    background-color: #588157;
    display: flex;
    flex-direction: column;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column: 1/3;
}

.sort img {
    border-radius: 10px;
    
}

#searchform {
    display: flex;
}

.add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #A3B18A;
    grid-column:1/13;
    grid-row: 2/3;
}


button {
    background-color: #4CAF50; /* Green */
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: white;
    padding: 10px 10px;
    margin: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.deck-gridview {
    background-color: #344E41;
    grid-column: 3/13;
    display: inline;
}

.deck-textview {
    background-color: #344E41;
    grid-column: 3/13;
    display: flex;
    flex-direction: column;
    
}

.deck-textview div h1{
    text-align: center;
    border-bottom: 1px solid black;
}

.deck-textview div p {
    font-size: 16px;
    padding: 8px 15px;
    display: block;
}

.deck-textview #Creatures {
 grid-column: 1/1;
 grid-row: 1/5;
}

.deck-textview #Sorceries {
    grid-column: 2/2;
    grid-row: 1/3;
}

.deck-textview #Instants {
    grid-column: 2/2;
    grid-row: 3/5;
}

.deck-textview #Artifacts {
}

/* ToDo */
.deck-textview #Enchantments {
}

.deck-textview #Lands {
    grid-row: 3/5;
}

.deck-gridview img {
    border-radius: 10px;
}

.deck-textview li {
    display: inline;
    list-style: none;
    font-size: 25px;
    padding: 10px 10px;
}

@media(max-width: 550px) {
    .deck-gridview img {
        width: 30%;
        height: 25%;
    }

}

@media(max-width: 380px) {
    .deck-gridview img {
        width: 20%;
        height: 20%;
    }
    
}